/* This file is there for custom classes, don't kill me for this, it's harmless - Kabir */
b.big {
  font-size:20px;
}
.transparent {
  height: 64px!important;
}
.circle {
  margin-left:10px;
  margin-top:5px;
  height: 54px!important;
}